<h1>Specktrum Analysis</h1>
<div class="specktrum-box">
	&nbsp;
</div>

<h2>Color Grid</h2>
<table class="color-table">
	<caption>Brightness: +/- 40%, 20%</caption>
	<tr class="color-legend">
		<th class="a">A</th>
		<th class="b">B</th>
		<th class="c">C</th>
	</tr>

	<tr class="brightest">
		<td class="a">&nbsp;</td>
		<td class="b">&nbsp;</td>
		<td class="c">&nbsp;</td>
	</tr>

	<tr class="brighter">
		<td class="a">&nbsp;</td>
		<td class="b">&nbsp;</td>
		<td class="c">&nbsp;</td>
	</tr>

	<tr class="base">
		<td class="a">&nbsp;</td>
		<td class="b">&nbsp;</td>
		<td class="c">&nbsp;</td>
	</tr>

	<tr class="darker">
		<td class="a">&nbsp;</td>
		<td class="b">&nbsp;</td>
		<td class="c">&nbsp;</td>
	</tr>

	<tr class="darkest">
		<td class="a">&nbsp;</td>
		<td class="b">&nbsp;</td>
		<td class="c">&nbsp;</td>
	</tr>

</table>

<div class='grads'>
	<h2>Gradients</h2>
	<div class='a'>
		&nbsp;
	</div>
	<div class='b'>
		&nbsp;
	</div>
	<div class='c'>
		&nbsp;
	</div>
</div>

<h1>Lorem Ipsum</h1>
<p>This is some text</p>
<p class='alert'>And this is alerted text</p>
<div class="brand">
	<h4>Brand</h4>
</div>
<div class="action">
	<h4>Action</h4>
</div>
<div class="alert">
	<h4>Alert</h4>
</div>

<div class="box_a">
	<h4>box A</h4>
	<p>color:{{ page.A.base }}</p>
</div>
<div class="box_b">
	<h4>box B</h4>
	<p>color:{{ page.B.base }}</p>
</div>
<div class="box_c">
	<h4>box C</h4>
	<p>color:{{ page.C.base }}</p>
</div>

