<!DOCTYPE:html>
{% from "_formhelpers.html" import render_field %}
<html lang="en-CA">
  <head>
    <title>Spektrum</title>
		<link href='http://fonts.googleapis.com/css?family=Special+Elite|Baumans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/basestyle.css" type="text/css" 
      media="screen" />
    <link rel="stylesheet" href="/static/css/style.css?{{ rando }}" type="text/css"  
      media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
      type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"
      type="text/javascript"></script>
    <script src="/static/js/colorpicker/jquery.colorpicker.js"
      type="text/javascript"></script>
    <link rel="stylesheet" type="text/css"
    href="/static/js/colorpicker/jquery.colorpicker.css" />
    {% block headerjs %}
    <script type="text/javascript">
      $( function() {
          $('#color_a').colorpicker({
            showOn: 'both',
            showSwatches: true,
            showNoneButton: true,
            buttonColorize: true,
            parts: 'full',
            altProperties: 'background-color,color'
          });
          $('#color_b').colorpicker({
            showOn: 'both',
            showSwatches: true,
            buttonColorize: true,
            parts: 'full',
            altProperties: 'background-color,color'
          });
          $('#color_c').colorpicker({
            showOn: 'both',
            showSwatches: true,
            buttonColorize: true,
            parts: 'full',
            altProperties: 'background-color,color'
          });

          $("#rando").click(function () {
              window.location.replace("/?rando=y");
          });

        });
    </script>
    {% endblock %}
  </head>
  <body>
		{% block header %}
			<header>
			<img src="/static/img/logo.png" alt="Specktrum logo" class="logo" />
			<h1>Specktrum</h1>
			</header>
		{% endblock %}
    <div class="content">
      {% block content %}
      <fieldset>
        <legend>Select your colours</legend>
      <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <dl>
          {{ render_field(form.color_a, type='color') }}
          {{ render_field(form.color_b, type='color') }}
          {{ render_field(form.color_c, type='color') }}
        </dl>
        <input type="submit" value="Get the Specktrum!" />
        <input type="button" value="Random Specktrum!?" id="rando" />
      </form>
    </fieldset>
      {% endblock %}
    </div>
    {% if page.A %}
    <div class='got'>
      <h4>I got</h4>
			<p span='a' style="background-color: #{{ page.A.base }}" >Color a: {{ page.A.base }}</p>
      <p span='b' style="background-color: #{{ page.B.base }}">Color b: {{ page.B.base }}</p>
      <p span='c' style="background-color: #{{ page.C.base }}">Color c: {{ page.C.base }}</p>
    </div>
    {% endif %}
    <div class="result">
      {% block result %}
        {% include "example.html" %}
      {% endblock %}
    </div>
  </body>
</html>
