@import "static/css/style_set.sass"

img.logo
  float: left
  width: 150px
  height: 150px

.specktrum-box
  width: 90%
  background-image: -moz-linear-gradient(0deg, $color_a, $color_b, $color_c)
  background-image: -webkit-linear-gradient(0deg, $color_a, $color_b, $color_c)
  background-image: linear-gradient(0deg, $color_a, $color_b, $color_c)

.color-table
  background: white
  color: black

.color-table .base .a
  background: $color_a

.color-table .base .b
  background: $color_b

.color-table .base .c
  background: $color_c

@mixin brightest($color)
  background: lighten($color, 40%)

@mixin brighter($color)
  background: lighten($color, 20%)

@mixin darker($color)
  background: darken($color, 20%)

@mixin darkest($color)
  background: darken($color, 40%)

.color-table .brightest .a
  @include brightest($color_a)

.color-table .brightest .b
  @include brightest($color_b)

.color-table .brightest .c
  @include brightest($color_c)

.color-table .brighter .a
  @include brighter($color_a)

.color-table .brighter .b
  @include brighter($color_b)

.color-table .brighter .c
  @include brighter($color_c)

.color-table .darkest .a
  @include darkest($color_a)

.color-table .darkest .b
  @include darkest($color_b)

.color-table .darkest .c
  @include darkest($color_c)

.color-table .darker .a
  @include darker($color_a)

.color-table .darker .b
  @include darker($color_b)

.color-table .darker .c
  @include darker($color_c)

@mixin grad($color)
  background-image: -webkit-linear-gradient(90deg, darken($color, 40%), lighten($color, 40%))
  background-image: -moz-linear-gradient(90deg, darken($color, 40%), lighten($color, 40%))
  background-image: linear-gradient(90deg, darken($color, 40%), lighten($color, 40%))
  

.grads .a
  @include grad($color_a)

.grads .b
  @include grad($color_b)

.grads .c
  @include grad($color_c)

$brand: $color_a
$action: $color_b
$function: lighten($action, 20%)
$alert: $color_c
$bg: desaturate(darken($brand, 20%), 20%)
$txt: saturate(lighten($brand, 30%), 30%)

div.result
  background: -moz-linear-gradient(90deg, $brand, $bg)
  background: -webkit-linear-gradient(90deg, $brand, $bg)
  color: lighten($brand, 20%)

.brand
  background-color: $brand
  width: 3.5em

.brand h4
  background-image: -moz-linear-gradient(90deg, darken($brand, 5%), lighten($brand, 5%))
  background-image: -webkit-linear-gradient(90deg, darken($brand, 5%), lighten($brand, 5%))
  background-image: linear-gradient(90deg, darken($brand, 50%), lighten($brand, 50%))

.action
  background-color: $action
  width: 3.5em

.alert
  background-color: $alert
  width: 3.5em

.result h1
  background-image: -moz-linear-gradient(270deg, lighten($brand, 10%), darken($brand, 10%))
  background-image: -webkit-linear-gradient(270deg, lighten($brand, 10%), darken($brand, 10%))
  background-image: linear-gradient(270deg, lighten($brand, 10%), darken($brand, 10%))

.result .box_a
  background-color: $color_a
  width: 5.5em
  padding: 0.5em

.result .box_b
  background-color: $color_b
  width: 5.5em
  padding: 0.5em

.result .box_c
  background-color: $color_c
  width: 5.5em
  padding: 0.5em


