@import "static/css/style_set.sass"

$brand: $color_a
$action: $color_b
$function: lighten($action, 20%)
$alert: $color_c
$bg: desaturate(darken($brand, 20%), 20%)
$txt: saturate(lighten($brand, 30%), 30%)

div.result
  background: -moz-linear-gradient(90deg, $brand, $bg)
  background: -webkit-linear-gradient(90deg, $brand, $bg)
  color: lighten($brand, 20%)

.result h1
  background-color: $brand

.result .box_a
  background-color: $color_a

.result .box_b
  background-color: $color_b

.result .box_c
  background-color: $color_c
